<!DOCTYPE html>
<html>
<head>
    <title>Dashboard | CareerAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>

<!-- Header -->
<div class="header">
    <div class="header-content">
        <div class="brand">Career<span>AI</span></div>

        <div class="nav-links">
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'analyze' %}">Analyze</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container dashboard">
        <h2>Welcome {{ request.user.first_name }}</h2>
        <p>Analyze your resume and get AI-powered career feedback.</p>

        <a href="{% url 'analyze' %}">Analyze Resume</a>
    </div>
</div>


<footer class="site-footer">
    <div class="footer-content">
        <p class="copyright">
            © 2025 <strong>CareerAI</strong> | Developed by <strong>Naresh Reddy</strong>
        </p>

        <div class="footer-links">
            <a href="https://www.linkedin.com/in/iamnaresh06" target="_blank" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>

            <a href="https://github.com/iamnaresh06" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>

            <a href="mailto:iamnaresh06@gmail.com" aria-label="Email">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
    </div>
</footer>

</body>
</html>