<div class="header">
  <div class="header-content">
    <div class="brand">Career<span>AI</span></div>

    <div class="nav-links">
      {% if user.is_authenticated %} {% if user.is_superuser %}
      <a href="{% url 'admin_dashboard' %}">Admin Dashboard</a>
      {% else %}
      <a href="{% url 'dashboard' %}">Dashboard</a>
      {% endif %}
      <a href="{% url 'analyze' %}">Analyze</a>
      <a href="{% url 'resume_builder' %}">Resume Builder</a>
      <a href="{% url 'logout' %}">Logout</a>
      {% endif %}
    </div>
  </div>
</div>
