<!DOCTYPE html>
<html>
<head>
    <title>Login | CareerAI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>

<div class="container">
    <h2>Login</h2>

    {% for message in messages %}
        <div class="message">{{ message }}</div>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <p>New user? <a href="{% url 'register' %}">Create account</a></p>
</div>

<footer class="site-footer">
    <div class="footer-content">
        <p class="copyright">
            © 2025 <strong>CareerAI</strong> | Developed by <strong>Naresh Reddy</strong>
        </p>

        <div class="footer-links">
            <a href="https://www.linkedin.com/in/iamnaresh06" target="_blank" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>

            <a href="https://github.com/iamnaresh06" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>

            <a href="mailto:iamnaresh06@gmail.com" aria-label="Email">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
    </div>
</footer>


</body>
</html>